.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  width: 1440px;
  height: 72px;
}
.wholeIcon {
  position: absolute;
  top: 24px;
  left: 72px;
  width: 162.6px;
  height: 24px;
  overflow: hidden;
}
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: #f2f2f2;
  width: 360px;
  height: 42px;
}
.groupChild {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 22px;
  height: 22px;
}
.searchForYour {
  position: absolute;
  top: 12px;
  left: 50px;
  font-weight: 500;
}
.rectangleGroup {
  position: absolute;
  top: 16px;
  left: 540px;
  width: 360px;
  height: 42px;
}
.createAccount {
  font-weight: 500;
}
.itsFree {
  color: var(--color-royalblue);
}
.createAccountItsContainer {
  position: absolute;
  top: 27px;
  left: 1161px;
  font-size: var(--font-size-base);
  text-align: right;
  color: #2e2e2e;
}
.baselineArrowDropDown24pxIcon {
  position: absolute;
  top: 26px;
  left: 1344px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 72px;
  color: var(--color-dimgray-100);
}
.line {
  position: absolute;
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1041px;
  height: 1px;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 137px;
  width: 36px;
  height: 36px;
}
.groupInner {
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  width: 133px;
}
.writeAPost {
  position: absolute;
  top: 8px;
  left: 38px;
  font-weight: 500;
}
.baselineEdit24pxIcon {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.groupContainer,
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 36px;
}
.groupContainer {
  top: 92px;
  left: 1067px;
  width: 173px;
  font-size: var(--font-size-mini);
}
.line1,
.lineDiv {
  position: absolute;
  box-sizing: border-box;
  height: 1px;
}
.line1 {
  top: 83.5px;
  left: 71.5px;
  border-top: 1px solid var(--color-gainsboro-100);
  width: 1297px;
  opacity: 0;
}
.lineDiv {
  top: 139.5px;
  left: 199.5px;
  border-top: 1px solid var(--color-black);
  width: 94px;
}
.allPosts32 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-black);
}
.article,
.education,
.event,
.job {
  position: absolute;
  top: 0;
  left: 113px;
}
.education,
.event,
.job {
  left: 180px;
}
.education,
.job {
  left: 239px;
}
.job {
  left: 331px;
}
.allPosts32Parent {
  position: absolute;
  top: 99px;
  left: 200px;
  width: 358px;
  height: 21px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.rectangleDiv {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 694px;
  height: 474px;
}
.baselineMoreVert24pxIcon {
  position: absolute;
  top: 276px;
  left: 644px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  object-fit: contain;
}
.article1,
.whatIfFamous {
  position: absolute;
  top: 240px;
  left: 20px;
  font-weight: 500;
}
.whatIfFamous {
  top: 275px;
  font-size: var(--font-size-3xl);
  line-height: 134.17%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  width: 692px;
  height: 220px;
  object-fit: cover;
}
.iveWorkedIn {
  position: absolute;
  top: 347px;
  left: 20px;
  font-size: var(--font-size-lgi);
  line-height: 134.17%;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 652px;
}
.iconactionvisibility24px {
  position: absolute;
  top: 419px;
  left: 577px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.kViews {
  position: absolute;
  top: 419px;
  left: 603px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--color-dimgray-200);
  text-align: right;
}
.groupChild1 {
  position: absolute;
  top: 404px;
  left: 20px;
  border-radius: var(--br-5xl);
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.sarthakKamra {
  position: absolute;
  top: 416px;
  left: 78px;
  font-weight: 600;
}
.groupDiv {
  position: absolute;
  top: 168px;
  left: 200px;
  width: 692px;
  height: 472px;
  font-size: var(--font-size-lg);
}
.taxBenefitsFor {
  position: absolute;
  top: 275px;
  left: 20px;
  font-size: var(--font-size-3xl);
  line-height: 134.55%;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.rectangleParent1 {
  position: absolute;
  top: 656px;
  left: 200px;
  width: 692px;
  height: 472px;
  font-size: var(--font-size-lg);
}
.groupChild5 {
  position: absolute;
  top: -0.4px;
  left: -0.4px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 0.4px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 177.8px;
  height: 35.8px;
}
.outlineMyLocation24pxIcon {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 21px;
  height: 21px;
  overflow: hidden;
  opacity: 0.7;
}
.useCurrentLocation {
  position: absolute;
  top: 9px;
  left: 35px;
  opacity: 0.7;
}
.or,
.rectangleParent2 {
  position: absolute;
  left: 0;
}
.rectangleParent2 {
  top: 42px;
  width: 177px;
  height: 35px;
}
.or {
  top: 101px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  text-align: right;
}
.groupChild6 {
  position: absolute;
  top: 29.8px;
  left: -0.2px;
  border-top: 0.4px solid #b8b8b8;
  box-sizing: border-box;
  width: 240.4px;
  height: 0.4px;
}
.enterLocationManually {
  position: absolute;
  top: 1px;
  left: 0;
  opacity: 0.6;
}
.outlineSearch24pxIcon {
  position: absolute;
  top: 0;
  left: 220px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  opacity: 0.3;
}
.lineParent {
  position: absolute;
  top: 142px;
  left: 0;
  width: 240px;
  height: 30px;
}
.location {
  position: absolute;
  top: 0;
  left: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.outlineLocationOn24px2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.locationParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;
  height: 18px;
}
.yourLocationWill {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 220px;
  opacity: 0.5;
}
.baselineErrorOutline24pxIcon {
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  opacity: 0.5;
}
.yourLocationWillHelpUsSerParent {
  position: absolute;
  top: 204px;
  left: 0;
  width: 243px;
  height: 32px;
  font-size: var(--font-size-xs);
}
.connectParent,
.groupChild7,
.groupParent1 {
  position: absolute;
  top: 196px;
  left: 984px;
  width: 243px;
  height: 236px;
}
.connectParent,
.groupChild7 {
  top: 499px;
  width: 94px;
  height: 18px;
}
.groupChild7 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.sarthakKamra1 {
  position: absolute;
  top: 9px;
  left: 48px;
  display: inline-block;
  width: 104px;
}
.groupChild8 {
  position: absolute;
  top: 6px;
  left: 179px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-200);
  width: 61px;
  height: 24px;
}
.connect1 {
  position: absolute;
  top: 10px;
  left: 187px;
  font-size: var(--font-size-xs);
  text-align: center;
}
.rectangleParent3 {
  position: absolute;
  top: 541px;
  left: 984px;
  width: 240px;
  height: 36px;
}
.connect2 {
  position: absolute;
  top: 10px;
  left: 187px;
}
.rectangleParent4 {
  position: absolute;
  top: 599px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.groupChild11 {
  position: absolute;
  top: 6px;
  left: 165px;
  border-radius: var(--br-sm);
  background-color: var(--color-black);
  width: 75px;
  height: 24px;
}
.connected,
.joyLawson {
  position: absolute;
  top: 10px;
  left: 173px;
}
.joyLawson {
  top: 9px;
  left: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 104px;
}
.rectangleParent5 {
  position: absolute;
  top: 657px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.johnDoe {
  position: absolute;
  top: 9px;
  left: 48px;
  font-size: var(--font-size-sm);
  text-align: left;
  display: inline-block;
  width: 104px;
}
.rectangleParent6,
.rectangleParent7 {
  position: absolute;
  top: 715px;
  left: 984px;
  width: 240px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.rectangleParent7 {
  top: 773px;
}
.seeMore {
  position: absolute;
  top: 857px;
  left: 1124px;
  color: var(--color-royalblue);
}
.groupChild17,
.rectangleParent8 {
  position: absolute;
  width: 134px;
  height: 36px;
}
.groupChild17 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 0.8px solid #b6b6b8;
  box-sizing: border-box;
}
.rectangleParent8 {
  top: 92px;
  left: 917px;
  font-size: var(--font-size-mini);
  color: #88898a;
}
.subtractIcon {
  position: relative;
  width: 13.6px;
  height: 18px;
}
.groupParent {
  width: 1440px;
  height: 1128px;
}
.groupParent,
.rectangle2,
.rectangle3 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle2 {
  background-color: var(--color-black);
  width: 1440px;
  height: 1024px;
  opacity: 0.6;
}
.rectangle3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 736px;
  height: 513px;
}
.groupIcon {
  position: absolute;
  top: 129px;
  left: 380px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.bySigningUp {
  position: absolute;
  top: 461px;
  left: 383px;
  font-size: 11px;
  letter-spacing: -0.01em;
  line-height: 16px;
  display: inline-block;
  width: 317px;
  opacity: 0.6;
}
.groupChild18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: #effff4;
  width: 736px;
  height: 50px;
}
.letsLearnShare {
  position: absolute;
  top: 17px;
  left: 59px;
  line-height: 16px;
  font-weight: 500;
  color: #008a45;
  text-align: center;
}
.signIn {
  font-weight: 600;
  color: var(--color-royalblue);
}
.alreadyHaveAnContainer {
  position: absolute;
  top: 81px;
  left: 505px;
  font-size: var(--font-size-smi);
  color: #3d3d3d;
}
.createAccount1 {
  font-size: 24px;
}
.createAccount1,
.groupChild19,
.searchIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.groupChild19 {
  border-radius: var(--br-11xs);
  background-color: var(--color-white);
  border: 0.6px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 320px;
  height: 38px;
}
.searchIcon {
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.signUpWith {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 16px;
}
.group {
  position: absolute;
  top: 11px;
  left: 85px;
  width: 151px;
  height: 16px;
}
.fLogoRgbBlue1024Icon,
.rectangleParent10 {
  position: absolute;
  top: 365px;
  left: 0;
  width: 320px;
  height: 38px;
}
.fLogoRgbBlue1024Icon {
  top: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.signUpWithFacebookParent {
  position: absolute;
  top: 11px;
  left: 77px;
  width: 167px;
  height: 16px;
}
.groupChild21,
.rectangleParent11 {
  position: absolute;
  top: 319px;
  left: 0;
  width: 320px;
  height: 38px;
}
.groupChild21 {
  top: 0;
  border-radius: 20px;
  background-color: var(--color-royalblue);
  height: 40px;
}
.createAccount2 {
  position: absolute;
  top: 12px;
  left: 110px;
  line-height: 16px;
  font-weight: 600;
}
.groupChild22,
.rectangleParent12 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 320px;
  height: 40px;
}
.groupChild22 {
  top: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 46px;
}
.email {
  position: absolute;
  top: 15px;
  left: 12px;
  line-height: 16px;
  font-weight: 500;
}
.rectangleParent13 {
  top: 45px;
}
.groupChild23,
.groupChild24,
.rectangleParent13,
.rectangleParent14 {
  position: absolute;
  left: 0;
  width: 320px;
  height: 46px;
}
.groupChild23 {
  top: 0;
  border-radius: 0 0 var(--br-11xs) var(--br-11xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.groupChild24,
.rectangleParent14 {
  top: 135px;
}
.groupChild24 {
  top: 0;
  border-radius: var(--br-11xs) var(--br-11xs) 0 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.lastName {
  position: absolute;
  top: 15px;
  left: 172px;
  line-height: 16px;
  font-weight: 500;
}
.line2 {
  position: absolute;
  top: -0.5px;
  left: 159.5px;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 1px;
  height: 46px;
}
.groupChild26,
.rectangleParent15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 46px;
}
.groupChild26 {
  top: 14px;
  left: 284px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.rectangleParent16 {
  top: 90px;
  height: 46px;
}
.groupParent3,
.groupParent4,
.rectangleParent16 {
  position: absolute;
  left: 0;
  width: 320px;
}
.groupParent4 {
  top: 0;
  height: 181px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-100);
}
.groupParent3 {
  top: 55px;
  height: 240px;
  text-align: center;
  color: var(--color-white);
}
.createAccountParent {
  position: absolute;
  top: 74px;
  left: 36px;
  width: 320px;
  height: 403px;
  text-align: left;
}
.groupChild27,
.rectangleParent9 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 736px;
  height: 513px;
}
.groupChild27 {
  top: 0;
  left: 722px;
  width: 28px;
  height: 28px;
  opacity: 0.8;
}
.groupParent2 {
  position: absolute;
  top: 146px;
  left: 352px;
  width: 750px;
  height: 553px;
  text-align: right;
}
.desktopJoinGroup {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-ibm-plex-sans);
}
